.box{
    background-color: darkcyan;
    overflow: hidden;
}
.box div{
    overflow: hidden;
}

.flexRow{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.flexRow > div{
    display: flex;
    flex-direction: column;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flexColumn > div{
    display: flex;
    flex-direction: row;
}

.el{
    display: flex;
}
.keySpan{
    position: absolute;
    display: none;
}