.box{
    width: 800px;
    height: 600px;
    background-color: darkcyan;
    overflow: hidden;
}
.box div{
    overflow: hidden;
}

.flexRow{
    display: flex;
    flex-direction: row;
    height: 100%;
    /* background-color: aquamarine; */
}

.flexRow > div{
    display: flex;
    flex-direction: column;
}

/* .flexRow > div > div{
    flex-grow: 1;
}  */

.flexColumn{
    display: flex;
    flex-direction: column;
    /* background-color: rebeccapurple; */
    flex-grow: 1;
    /* width: 100%; */
}

.flexColumn > div{
    display: flex;
    flex-direction: row;
}


/* .flexColumn > div > div{
    flex-grow: 1;
}  */


.el{
    display: flex;
}
.keySpan{
    position: absolute;
}