
.orderContainer{
    --order-line-height: 14px;
    --progress-line-margin: -15px;
    --orderbook-font-size: 12px;
    display: flex;
    width: 100%;
}

.orderLine{
    width:100%;
    text-align: center;
}

.orderBgLine{
    position: absolute;
}

.ordersColumn{
    width: 50%;
}

.valuesBox{
    display: flex;
    text-align: center;
}

.valuesBox div{
    width: 50%;
    font-size: var(--orderbook-font-size);
}

.progressBarBoxBids{
    height: var(--order-line-height);
    margin-bottom: var(--progress-line-margin);
    display: flex;
    justify-content: flex-end;
}

.progressBarBoxAsks{
    text-align: left;
    height: var(--order-line-height);
    margin-bottom: var(--progress-line-margin);
    display: flex;
    justify-content: flex-start;
}
.progressBar{
    display: inline-block;
    height: var(--order-line-height);
}

.progressBarBoxBids .progressBar{
    background-color: rgb(4 169 4 / 50%);
}

.progressBarBoxAsks .progressBar{
    background-color: rgb(255 0 0 / 50%);
}